*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #0f051e;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 80%;
    height: 100px;
    margin: auto;
    padding-top: 20px;
    z-index: 100;

}
h5{
    color: #0ef;
}
h2{
    font-size: 30px;
    font-weight: bold;
    background: linear-gradient(to left, #4200fc, #f901fc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header nav .lien a{
    color: white;
    margin-left: 40px;
    position: relative;
}
header nav .lien a::after{
    content:'';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 0%;
    height: 3px;
    background:linear-gradient(to left, #4200fc, #f901fc) ;
    transition: .3s;
}
header nav .lien a:hover::after{
    width: 100%;
}
.container{
    color: white;
    margin-top: 170px;
    margin-left: 100px;
}
h1{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    background:linear-gradient(to left, #4200fc, #f901fc) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
